<!--
################################################
# formular partial mehrfach verwendet für daten manipulation
# daniel glenn <glenn@starwolf.ch>
# 05.06.2011 init template
# 10.07.2011 nochmals angeschaut und formatierung angepasst wegen neuer version
# von gmate
# Todo: css verbessern
################################################
-->
<%= error_messages_for(@admin_user) %>
<table class="tbl">
  <tr>
    <th><%= f.label(:first_name) %></th>
    <td><%= f.text_field(:first_name) %></td>
  </tr>
  <tr>
    <th><%= f.label(:last_name) %></th>
    <td><%= f.text_field(:last_name) %></td>
  </tr>
  <tr>
    <th><%= f.label(:email) %></th>
    <td><%= f.text_field(:email) %></td>
  </tr>
  <tr>
    <th><%= f.label(:username) %></th>
    <td><%= f.text_field(:username) %></td>
  </tr>
  <tr>
    <th><%= f.label(:password) %></th>
    <td><%= f.password_field(:password) %></td>
  </tr>
</table>

